# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Streamlit
.streamlit/

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env.*